button:focus{
    outline:none;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.card {
    overflow: hidden;
    position: relative;
    min-height: 100px;
    min-width: 300px;
    max-width: 200px;
    height: auto;
    width: 100%;
    padding: 50px;
    border: 3px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: #353755;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    margin: 5px;
    align-items: center;
    text-align: center;
}

.card__field {
    width: 80%;
    padding: 10px;
    color: #1a1a1a;
    background-color: rgb(241, 241, 241);
    backdrop-filter: blur(15px);
    margin-top: 50px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid rgb(192, 192, 192);
}

.card__field:focus, input:focus{
    outline: none;
}

.character {
    color: white;
    position: relative;
    font-weight: bold;
    font-size: 1.5em;
    top: 20px;
    left: 50%;
    padding: 3em;
    transform: translateX(-50%);
}

.speaker-icon{
    margin-left: 40px;
    position: absolute;
    display: flex;
    top: 45%;
    left: 63%;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}
.speaker-icon:hover{
    cursor: pointer;
    filter: invert(20%) sepia(2%) saturate(143%) hue-rotate(314deg) brightness(103%) contrast(96%);
    transition: 0.3s;
}

.page-reveal {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 200;
}

.page-reveal .element {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: right;
}

.page-reveal .element-1 {
    background: #061215;
    transform: scaleX(0);
    animation: revealAnim 400ms ease-in-out;
}

@keyframes revealAnim {
    50% {
        transform: scaleX(1);
        transform-origin: right;
    }
    51% {
        transform-origin: left;
    }
    100% {
        transform: scaleX(0);
        transform-origin: left;
    }
}
@keyframes revealContentAnim {
    to {
        transform: scale(0);
    }
}


@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -120px 60px;
    }
}

.quit_form.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    scale: 100%;
}

.quit_form {
    color: white;
    overflow: hidden;
    position: absolute;
    font-weight: bold;
    min-width: 30em;
    min-height: 19em;
    max-width: 30em;
    max-height: 25em;
    left: 50%;
    top: 50%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, .25);
    background-color: #1a1c2e;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 1em;
    transform: translate(-50%, -50%) scale(1);
    animation: fadeIn 0.2s;
    z-index: 4;
}
#black-blur {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0.3;
    animation: fadeInOpaque 0.2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInOpaque {
    0% { opacity: 0; }
    100% { opacity: 0.3; }
}


.quit_form img{
    width: 15em;
}

.btn {
    font-weight: bold;
    background-color: #c9c6fd;
    outline: none;
    position: relative;
    box-shadow: 0 5px 0 #a1a0b9;
    color: #131f24;
    border: none;
    border-radius: 10px;
    padding: 0 50px;
    margin: 15px;
    overflow: hidden;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    height: 50px;
}

.selectbutton {
    width: 15em;
    margin: 5px;
    padding: 1em 0;
    font-size: 1em;
    background-color: #647eff;
    color: #fbfbfb;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0.3em #4d5fc3;
    cursor: pointer;
    transition: 0.1s;
    text-transform: uppercase;
}
.exit_button {
    margin: 5px;
    width: 240px;
    font-size: 1em;
    color: #ba4748;
    background-color: transparent;
    box-shadow: none;
    text-transform: uppercase;
}

.btn.selectbutton:hover {
    background-color: #7388f7;
}

.btn.selectbutton:active {
    border: none;
}

.btn.exit_button:hover {
    background-color: transparent;
}

.btn:active{
    box-shadow: none;
    transform: translateY(5px);
}

.btn:hover{
    background-color: #cdcbf4;
}

.close-button {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    right: 20%;
    top: 3.4em;

    overflow: hidden;
    border: none;
    padding: 0;
    width: 2em; height: 2em;
    border-radius: 50%;
    background: transparent;
    color: #51646c;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;

    &:before, &:after {
        position: absolute;
        top: 15%; left: calc(50% - .0625em);
        width: .125em; height: 70%;
        border-radius: .125em;
        transform: rotate(45deg);
        background: currentcolor;
        content: ''
    }

    &:after { transform: rotate(-45deg); }
}

#completionScreen{
    opacity: 0;
    pointer-events: none; /* Ensures the hidden modal is not clickable */
    transition: opacity 0.1s ease-in;
}
#completionScreen.active {
    opacity: 1;
    pointer-events: auto; /* Allows interaction when modal is visible */
}
@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -120px 60px;
    }
}
.modal {
    overflow: hidden;
    position: absolute;
    font-weight: bold;
    left: 50%;
    top: 50%;
    min-width: 300px;
    min-height: 400px;
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(211, 169, 169, 0.36);

    padding: 30px;
    border: 3px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: #756DE4;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    margin: 5px;
    justify-content: center;
    text-align: center;

    transform:translate(-50%, -50%) scale(1);
}
.message {

    color: white;
    font-weight: bold;
    font-size:1.6rem;
    margin-bottom: 0;

}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Score */

.arc {
    border: 10px solid rgb(203, 200, 255);
}
.bg {
    border: 10px solid rgb(60, 54, 134);
}
.container {
    position: relative;
    overflow: hidden;
    width: calc(200 * 1.5px);
    height: calc(100 * 1.5px);
}
.arc, .bg {
    position: absolute;
    width: 100%;
    height: 200%;
    box-sizing: border-box;
    border-radius: 50%;
}
.arc {
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
}
.value {
    position: absolute;
    width: 100%;
    bottom: 25px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    color: rgb(255, 255, 255);
}
.content {
    padding: 50px;
    text-align: center;
}

#errorScreen{
    font-size: 0.9em;
    opacity: 0;
    pointer-events: none; /* Ensures the hidden modal is not clickable */
    transition: opacity 0.1s ease-in;
}
#errorScreen.active {
    opacity: 1;
    pointer-events: auto; /* Allows interaction when modal is visible */
}
@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -120px 60px;
    }
}
.modal2 {
    overflow: hidden;
    position: absolute;
    font-weight: bold;
    left: 50%;
    top: 50%;
    min-width: 200px;
    min-height: 200px;
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    padding: 30px;
    border: 3px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: #131f24;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    margin: 5px;
    justify-content: center;
    text-align: center;

    transform:translate(-50%, -50%) scale(1);
}
.errorDescription{
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 19, 22, 0.41);
    z-index: 0;
}


@keyframes loader {
    0% {
        width: 0;
    }
    20% {
        width: 10%;
    }
    25% {
        width: 24%;
    }
    43% {
        width: 41%;
    }
    56% {
        width: 50%;
    }
    66% {
        width: 52%;
    }
    71% {
        width: 60%;
    }
    75% {
        width: 76%;
    }
    94% {
        width: 86%;
    }
    100% {
        width: 100%;
    }
}
.progress-bar span {
    display: block;
}
.bar {
    background: rgb(55, 69, 78);
}

.progress {
    position: relative;
    background: #746ce2;
    color: #fff;
    padding: 5px;
    height: 15px;
    width: 0;
    overflow: hidden;
    transition: width 100ms ease;
}

.progress::before {
    border-radius: 10px;
    content: '';
    position: absolute;
    top: 20%; /* Position vertically in the center */
    width: 100%;
    height: 3px;
    background: #7d7db7;
}
.progress-bar {
    left: 50%;
    top: 70px;
    width: 34%;
    max-width: 34%;

    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 10px;

    height: 15px;
    overflow: hidden;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}
.shake {
    position: fixed; /* Ensures shaking is horizontal only */
    animation: shake 0.3s ease;

}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.fade {
    animation: fadeInOut 1s ease-in-out;
}

.correct-answers{
    align-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 50px;
    left: 68%;
}

.streak-icon{
    width: 32px; height: 32px;
}
.correct-answer-amount{
    position:  absolute;
    top: 3px;
    left: 40px;

    font-family: 'Poppins', arial, sans-serif;
    color: #32bda5;
    font-weight: bold;
    font-size: 18px;
}


/* FOOTER */

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-line {
    height: 2px;
    width: 100%;
    background-color: #37454e;
    margin-bottom: 150px;
}


.button-wrapper {
    display: flex;
    gap: 27vw;
    margin-bottom: 3rem;
    flex-wrap: nowrap;
    justify-content: center;
}

.circle-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 34%;
    bottom: 0;
    width: 200px;
    height: 200px;
    transform: translateX(-60%) translateY(12%);
}
.footer-headline {
    position: absolute;
    left: 35%;
    transform: translateX(20px);
    bottom: 65%;
    font-weight: 900;
    font-size: 25px;
    color: #d64747;
}
.footer-solution {
    position: absolute;
    left: 35%;
    transform: translateX(20px);
    bottom: 65%;
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    color: #d64747;
}

.dot {
    height: 87px;
    width: 87px;
    background-color: #131f24;
    border-radius: 50%;
    position: relative;
}

.wrong {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrong::before,
.wrong::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 8px;
    background-color: #d44646;
    border-radius: 10px;
}

.wrong::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.wrong::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.skip-button, .check-button {
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    width: 10em;
    height: 53px;
    position: relative;
    box-shadow: 0 0 0 #5d56b2;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-button {
    background-color: #647eff;
    color: #fbfbfb;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0.1em #4d5fc3;
}

.check-button:hover {
    background-color: #6f85f7;
}

.check-button.disabled {
    pointer-events: none;
    background-color: #37444d;
    color: #455560;
    border: none;
}

.check-button.continue{
    background-color: #d44646;
    color: #21253d;;
    box-shadow: 0 0.1em #c73333;
}

.skip-button {
    background-color: transparent;
    color: #455560;
    border: 2px solid #37444d;
    box-shadow: 0 2px 0 #37444d;
}

.skip-button:hover {
    background-color: rgb(15, 27, 29);
}

.check-button:active,
.skip-button:active {
    box-shadow: none;
    border: none;
    transform: translateY(5%);
}




