.flashcardsContainer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

.flashcard {
    background: rgb(37, 39, 64);
    box-shadow: 0 5px #12131f;
    margin-top: 0.7em;
    width: 20em;
    height: 8em;
    border-radius: 10px;
    padding: 20px;
}

.inner-flashcard {
    border-radius: 10px;
    width: 15em;
    padding: 0.8em;
    max-width: 15em;
    text-align: left;
}

.inner-flashcard p {
    color: #aaaaaa;
    font-size: 20px;
    font-weight: bold;
}
