.sidebar-navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    min-height: 100vh;
    width: auto;
    min-width: 15.5em;
    max-width: 15.5em;
    border-right: 3px solid #625c5c;
}
.sidebar-navigation ul {
    text-align: center;
    color: #c9c9c9;
}
.sidebar-navigation ul li {
    margin-left: 0.9em;
    cursor: pointer;
    transition: all ease-out 100ms;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    margin-bottom: 0.3em;
}
.sidebar-navigation ul li .navbar_tip {
    display: inline-block;
    position: absolute;
    background-color: #374050;
    padding: 8px 15px;
    border-radius: 10px;
    margin-top: 12px;
    font-weight: bold;
    left: 70px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
}
.sidebar-navigation ul li .navbar_tip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}
.sidebar-navigation ul li:hover {
    background-color: rgba(55, 64, 80, 0.48);
    border-radius: 10px;
}
.sidebar-navigation ul li:hover .navbar_tip {
    visibility: visible;
    opacity: 1;
}
.sidebar-navigation ul li.active {
    border-radius: 10px;
    box-shadow: 0 0 0 2px #647eff;
    background-color: rgba(77, 94, 213, 0.11);
}


.icon {
    text-transform: uppercase;
    font-weight: bold;
    height: 35px;
    width: 200px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.95em;
}

.icon img{
    height: 28px;
    width: 28px;
    margin-right: 0.2em;
}

.titleLogo{
    font-weight: bold;
    margin: 0.7em 0.7em 29px;
    font-size: 1.6em;
    color: #88b9ff;
}

.progress-bar-navigation {
    position: absolute;
    right: 2em;
    top: 1em;
    display: flex;
    min-height: 100vh;
    min-width: 20.5em;
    max-width: 15.5em;
}

.progress-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: transparent;
    height: 3em;
    margin-left: 3em;
}

.progress-display {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.progress-text{
    color: #615b5b;
    font-weight: bold;
    font-size: 1.6em;
    display: flex;
}

.progress-text.level{
    color: #f5b74f;
}

.progress-img{
    height: 32px;
    margin-right: 0.1em;
}

.dailyGoal{
    left: -3.5em;
    top: 4em;
    position: absolute;
    display: flex;
    border: #615b5b 3px solid;
    border-radius: 20px;
    width: 23.2em;
    height: 11em;
    margin: 1em;
    flex-direction: column;
    pointer-events: none;
}
.daily-goal-header{
    color: #c7c7bf;
    font-size: 1.4em;
    margin-left: 1em;
    font-weight: bold;
    transform: translateY(1em);
}

.daily-goal-text{
    color: #c7c7bf;
    font-size: 1.2em;
    margin-left: 4.5em;
    font-weight: bold;
    transform: translateY(3.2em);
}

.dailyGoal img{
    color: #c7c7bf;
    margin-top: 3.6em;
    font-size: 1.2em;
    width: 4em;
    position: absolute;
}
.goal-progress-bar {
    font-weight: bold;
    color: #b4b4b4;
    top: 7.5em;
    transform: translateX(5em);
    position: absolute;
    background-color: #615b5b;
    border-radius: 10px;
    width: 16em;
    height: 1.3em;
    text-align: center;
    z-index: 1; /* Layer beneath span */
    display: flex;
    align-items: center; /* Center the span vertically */
}

.inner-goal-progress-bar {
    position: absolute;
    background-color: #5976a6;
    border-radius: 10px;
    z-index: 2;
    color: #b4b4b4;
    top: 7.5em;
    transform: translateX(5em);
    width: 6em;
    height: 1.3em;
    text-align: center;
    display: flex;
    align-items: center;
}
.process-bar-text{
    position: absolute;
    border-radius: 10px;
    z-index: 2;
    color: #b4b4b4;
    top: 7.5em;
    transform: translateX(12em);
    height: 1.3em;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bold;
}


.leaderBoard {
    left: -3.5em;
    top: 17em;
    position: absolute;
    display: flex;
    flex-direction: column;
    border: #615b5b 3px solid;
    border-radius: 20px;
    width: 23.2em;
    height: 30em;
    margin: 1em;
    text-align: center;
    pointer-events: auto;
    overflow-y: auto;
}

.leaderboard-header,
.leaderboard-text {
    color: #c7c7bf;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.9em;
}

.leaderboard-header {
    font-size: 1.8em;
}

.leaderboard-text {
    font-size: 1.2em;
    transform: translateY(-2em);
    font-weight: normal;
}

.leaderboard-user {
    color: #c7c7bf;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 0.4em;
    padding: 0.5em 0;
    width: 100%;
    justify-content: center;
    background-color: #242738;
    border-bottom: 1px solid #605a5a;
    border-top: 1px solid #605a5a;
}



.leaderboard-scrollable{
    overflow-y: scroll;
}

.leaderboard-user span,
.leaderboard-user img {
    font-weight: bold;
}

.leaderboard-user img {
    width: 0.85em;
    background-color: rgb(149, 149, 149);
    border-radius: 50%;
}
