.sidebar-navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    min-height: 100vh;
    width: auto;
    min-width: 15.5em;
    max-width: 15.5em;
    border-right: 3px solid #625c5c;
}
.sidebar-navigation ul {
    text-align: center;
    color: #c3d4de;
}
.sidebar-navigation ul li {
    margin-left: 0.9em;
    cursor: pointer;
    transition: all ease-out 100ms;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    margin-bottom: 0.3em;
}
.sidebar-navigation ul li .navbar_tip {
    display: inline-block;
    position: absolute;
    background-color: #374050;
    padding: 8px 15px;
    border-radius: 10px;
    margin-top: 12px;
    font-weight: bold;
    left: 70px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
}
.sidebar-navigation ul li .navbar_tip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}
.sidebar-navigation ul li:hover {
    background-color: rgba(55, 64, 80, 0.48);
    border-radius: 10px;
}
.sidebar-navigation ul li:hover .navbar_tip {
    visibility: visible;
    opacity: 1;
}
.sidebar-navigation ul li.active {
    border-radius: 10px;
    box-shadow: 0 0 0 2px #647eff;
    background-color: rgba(77, 94, 213, 0.11);
}


.icon {
    text-transform: uppercase;
    font-weight: bold;
    height: 35px;
    width: 200px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.95em;
}

.icon img{
    height: 50px;
    width: 50px;
}

.titleLogo{
    font-weight: bold;
    margin: 0.7em 0.7em 29px;
    font-size: 1.6em;
    color: #ffffff;
}

