.sidebar-navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    background-color: #0a0d16;
    max-width: 60px;
    border-radius: 5px;
}
.sidebar-navigation ul {
    text-align: center;
    color: white;
}
.sidebar-navigation ul li {
    cursor: pointer;
    transition: all ease-out 100ms;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.sidebar-navigation ul li .navbar_tip {
    display: inline-block;
    position: absolute;
    background-color: #374050;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: 12px;
    font-weight: bold;
    left: 70px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
}
.sidebar-navigation ul li .navbar_tip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}
.sidebar-navigation ul li:hover {
    background-color: #374050;
    border-radius: 5px;
}
.sidebar-navigation ul li:hover .navbar_tip {
    visibility: visible;
    opacity: 1;
}
.sidebar-navigation ul li.active {
    border-radius: 5px;
    background-color: #374050;

}
.sidebar-navigation ul li.active i {
    color: #98d7ec;
}

.logo{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.icon{
    height: 40px;
    width: 40px;
    margin: 10px;
    object-fit: contain;
    display: block;
}

.separatorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoSeparator{
    border-radius: 10px;
    width: 3em;
    color: #464646;
}

#accountButton {
    margin-top: auto; /* This should be sufficient to push it down */
    background-color: #1b1f2a;
}
